* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: rgba(255, 182, 193, 0.6);
  position: fixed;
  top: 0;
  padding: 10px;
  width: 100%;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  color: white;
}

p{
  line-height: 20px;
}

#logo img {
  position: fixed;
  bottom: 20px;
  right: 10px;
  width: 200px;
}

body {
  background-color: #fff1dd;
}

h1,
h2 {
  color: #fab4bf;
}

#title {
  margin-top: 50px;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}

.container img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: 20px solid #b84c63;
  box-sizing: border-box;

  margin: auto;
}

.container div {
  text-align: center;
}

.about-images {
  display: flex;
  justify-content: space-around;
  background-color: #fab4bf;
  height: auto align-items= center;
  padding: 20px;
}

.about-images img {
  width: 30%;
  max-width: 380px;
  min-width: 220px;
  height: auto;
  display: flex;
}

.story-column {
  display: flex;
  flex-direction: column;
  background-color: #fab4bf;
  row-gap: 20px;
  align-content: center;
  padding: 10px;
  margin: 0 auto;
  max-width: 800px;
}

.story-column img {
  height: 250px;
  width: 200px;
  cursor: pointer;
}

.story-card img:hover + .story-text {
  display: block;
}

.story-text {
  display: none;
  color: white;
}

.story-column h2 {
  color: white;
}

.story-card {
  display: flex;
  align-items: center;
  gap: 30px;
}
