body{
    background-color: #F4F7F4;
}

h1,h2,h3{
    color:#4E8F4A ;
}


.technology{
background-color:  #4E8F4A;
color: white;

width: 80%;
height: 200px ;
overflow: auto;
text-align: center;
margin: auto;

}

.technology h3{
    color: white;
}

.technology ul,
.technology ol{  
  text-align: center;
  list-style-position: inside;
  padding: 0
}

div, p, ul, ol {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1,h2,h3{
   font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

#first-link{
    color: #4E8F4A;
    transition: 0.3s;
}

#first-link:hover {
  color: #2F5D2C;
}

li:hover{
    background-color: #F4F7F4;
    color: #2F5D2C;
}

.news a:hover{
    background-color:#2F5D2C;
    color: black;
display: block;
}

.news a:active{
    color: white;
}

.news a {
  color: black;
  text-decoration: none;
}

