* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d1b2a;
  color: #ffffff;
  font-size: 20px;
}

.flex-container {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
}

.button-and-title-container {
  text-align: center;
}

.initial-information {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 10px;
  text-align: center;
  align-items: center;
}

.initial-information h2 {
  margin-top: -70px;
}
.initial-information p {
  margin-top: 20px;
  color: #a9b4c2;
}

img {
  width: 300px;
  height: 200px;
}

#form {
  min-height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.label-block {
  display: block;
}

textarea {
  resize: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.form-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  color: black;
}

button {
  padding: 10px;
  border-radius: 5px;
  background-color: #a9b4c2;
  color: #0d1b2a;
  border: none;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(94, 59, 153, 0.45);
  transition: 0.3s ease;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 28px rgba(94, 59, 153, 0.75);
}

input::placeholder,
textarea::placeholder {
  color: black;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  body {
    font-size: medium;

    .flex-container {
      gap: 7px;
      justify-content: center;
    }
  }
  h1 {
    font-size: 1.5em;
  }
  .initial-information {
    width: 70%;
    margin-top: -70px;
  }

  .initial-information h2 {
    font-size: 1.2em;
    margin-top: -100px;
    width: 60%;
  }
  .initial-information p {
    line-height: 25px;
    width: 100%;
    font-size: large;
  }

  button {
    padding: 10px;
    font-size: 15px;
    height: 70px;
    width: 90px;
  }

  .button-and-title-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
  }

  img {
    width: 400px;
    height: 300px;
  }
}
